.Drawer{ border: solid 1px cadetblue;  }
.Drawer header{cursor: pointer;}
.Drawer header img{ max-height: 30vh; }
.Drawer-collapsed{ max-height: 0;  transition: max-height 4s;  overflow: hidden;   }
.Drawer-opened{ min-height: 3em;  transition: min-height 4s; }